.cart-body{
  padding: 10px;
  background-color: rgba(255, 68, 0, 0.555);
  border-radius: 5px;
}
.heading-of-cart{
  text-align: center;
}
.cart-full-component{
  position: sticky;
  top: 0;
}
.btn-success{
  background-color: rgb(224, 219, 219);
  color: green;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
}
.btn-danger{
  width: 100%;
  background-color: rgb(224, 219, 219);
  color: red;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 5px;
}