.full-container{
  height: 100vh;
  width: 98vw;
}
.login-title{
  text-align: center;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-box{
  margin-top: 20px;
  box-shadow: 1px 1px 10px 1px rgba(255, 68, 0, 0.555);
  padding: 40px;
  border-radius: 10px;
}
.form-group input{
  margin: 5px 0px 20px 0px;
  font-size: 1.4rem;
  width: 95.5%;
  height: 25px;
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
  padding: 8px 2px 8px 10px;
}
.form-group input:focus{
  border: 1px solid rgba(255, 68, 0, 0.555);
}
.google-icon{
  width: 20px;
}
.google-signin-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  position: relative;
  bottom: 55px;
}
.login-btn{
  width: 100%;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 18px;
  background-color: rgba(255, 68, 0, 0.315);
  cursor: pointer;
}
.label{
  margin: 10px;
}
.ask-to-signup{
  text-align: center;
}
.go-to-signup{
  color:rgba(255, 68, 0, 0.555) ;
}
.difference-creator{
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  margin: 12px;
  height: 1px;
  width: 45%;
  background-color: black;
}